src/doc/jupidator.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    This is the main element of the Jupidator file.
    @title Remote definition file
    @root updatelist
 -->
<!ELEMENT updatelist (architect*, version+)>
<!--
    @attr application The application name
    @attr baseurl The base URL of the downloading files. This is the reference "parent" URL, where all remote URL addresses are defined.
    @attr icon The image icon of the application. It should be in a format that the JRE will be able to understand.
        For example, if baseurl is http://www.myserver.org/files and icon is icons/mascot.png then the icon URL is http://www.myserver.org/files/icons/mascot.png 
    @attr jupidator The minimum required version of jupidator If no version is provided, no implicit library updates will be performed.
 -->
<!ATTLIST updatelist
    application CDATA #REQUIRED
    baseurl CDATA #REQUIRED
    icon CDATA #IMPLIED
    jupidator CDATA #IMPLIED
  >
  
<!--
Jupidator can be used in various architectures. With this element we define which architectures we support. Since Jupidator is developed in Java, where multi-platform programming is encouraged, this is reflected here too. Architectures are marked with a "tag" and this "tag" can be used in more than one actual architecture (for example in Mac OS X under PPC and Intel machines at the same time).

One special tag exists: the "any" tag. This is used as a failsafe mechanism to support all remaining machines with architectures different than the one we directly support. If a machine has an unknown/unsupported architecture, fails back to the "any" tag.
  -->
<!ELEMENT architect (launcher)>
<!--
    @attr tag The tag which marks this architecture. More than one architectures can share the same tag and are used the same by Jupidator. A special tag "any" can be used to define any other architecture not strictly described.
    @attr os The operating system of this machine. This variable matches current operating system if System property "os.name" starts with this value. This attribute is not case sensitive.
    @attr arch The machine architecture. This variable matches current operating system if System property "os.arch" starts with this value. This attribute is not case sensitive.
-->
<!ATTLIST architect
    tag CDATA #REQUIRED
    os CDATA #REQUIRED
    arch CDATA #REQUIRED
  >

<!--
    This element is mandatory and defines how the application should be launched after the update procedure. Since launching is typically the same across updates, but differs in every platform, thus it is defined here.
-->
<!ELEMENT launcher (argument*)>
<!--
    @attr exec The executable filename. If arguments are required, these are defined by the nested argument element.
-->
<!ATTLIST launcher
    exec CDATA #REQUIRED
  >
  
<!--
    Command line argument for the launcher. If no arguments are required, this element can be ommited. In the XML file there are as many argument elements, as the required arguments.
-->
<!ELEMENT argument EMPTY>
<!--
    @attr value The value of the argument
-->
<!ATTLIST argument
    value CDATA #REQUIRED
  >

<!--
    Every new version of the application has one version element. Here the files which needed to be updated are defined. If this version is written only for display reasons, no arch elements are required.
-->
<!ELEMENT version (description, (arch)*)>
<!--
    @attr release <p>The integer value of the current release. This number is checked against the "release" value of the runtime environment.<p>
        <p>Remember that release files are incrementally defined. <i>All</i> versions with release number greater than the one defined at runtime environment are taken into account. <i>Not</i> not only the last one!</p>
    @attr version Human readable display of the current release version
-->
<!ATTLIST version
    release CDATA #REQUIRED
    version CDATA #REQUIRED
  >

<!--
    Free text description of this version. HTML tags are allowed, if escaped correctly to be included inside the XML document.
-->
<!ELEMENT description (#PCDATA)>

<!--
    Architecture dependent actions. For every architecture, as defined as tag with the architect element, a set of actions are defined. If more than one architecture has changes for this release, then all architectures should be defined. If no changes exist for one arhcitecture, then this architecture can be skipped.
-->
<!ELEMENT arch (file|rm|chmod|chown|exec|kill|wait)*>
<!--
    @attr name The name of this architecture, as defines with the architect element above. It could be "any", which will match all architectures, not having a special arch tag.
    @attr gui The installer will present a graphical window spinning for this version onwards. If this attribute is not present, no GUI is requested.
-->
<!ATTLIST arch
    name CDATA #REQUIRED
    gui CDATA "false"
  >

<!--
    Download a file from the remote location, relative to base URL. The latest file from every version will be taken into account, as discussed before.
-->
<!ELEMENT file (sha1|sha2|md5)*>
<!--
    @attr sourcedir The directory in the source location where this file exists. This is appended to the base URL.
    @attr destdir The destination directory of the file. This directory is <i>not</i> relative to anything.
    @attr name The file name. The name of the file is the same in both the source URL and in the destination directory. If this file is compressed (see below) then the appropriate compression extension is added to the source file name.
    @attr size The size of the source file. It will be used to check if the downloaded file has correct size.
    @attr compress The source file is compressed in the server. The following methods can be used: gzip bzip2 zip.
    @attr ifexists Download and install this file <i>only</i> if this file already exists. If it does not, then this file is ignored.
    @attr forceinstall This attribure is disabled (false) by default. With this default behaviour, if the selected runtime application is under an operating system that takes care of the update process by itself, this file is ignored. If it is enabled, then this file is used no matter what the operating system does. Enable this feature if you want to upgrade parts of the application that are not taken care by the operating system.
-->
<!ATTLIST file
    sourcedir CDATA #REQUIRED
    destdir CDATA #REQUIRED
    name CDATA #REQUIRED
    size CDATA #REQUIRED
    compress CDATA "none"
    ifexists CDATA "false"
    forceinstall CDATA "false"
  >

<!--
   SHA1 checksum of the specified file
-->
<!ELEMENT sha1 EMPTY>
<!--
    @attr value Value of SHA1 checksum in HEX
-->
<!ATTLIST sha1
    value CDATA #REQUIRED
  >

<!--
   SHA2 checksum of the specified file. Defaults to to SHA-256, but the developer can use other methods
-->
<!ELEMENT sha2 EMPTY>
<!--
    @attr type The type of the SHA2 algorithm. Defaults to 256. Other valid values are 384 and 512
    @attr value Value of SHA2 checksum in HEX
-->
<!ATTLIST sha2
    type CDATA "256"
    value CDATA #REQUIRED
  >

<!--
   MD5 checksum of the specified file
-->
<!ELEMENT md5 EMPTY>
<!--
    @attr value Value of MD5 checksum in HEX
-->
<!ATTLIST md5
    value CDATA #REQUIRED
  >


<!--
    Remove a local file.
-->
<!ELEMENT rm EMPTY>
<!--
    @attr file The local file name. The full path name is expected.
    @attr forceinstall If enabled, the owner of this file are changed in any case. For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST rm
    file CDATA #REQUIRED
    forceinstall CDATA "false"
  >

<!--
    Change permissions of a local file. This element is useful only in unix-like operating systems.
-->
<!ELEMENT chmod EMPTY>
<!--
    @attr file The local file name. The full path name is expected.
    @attr attr The new attributes of this file. The syntax is the same with <command>chmod</command> command.
    @attr recursive If this is a directory, change attributes of all files recursively.
    @attr forceinstall If enabled, the owner of this file are changed in any case. For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST chmod
    file CDATA #REQUIRED
    attr CDATA #REQUIRED
    recursive CDATA "false"
    forceinstall CDATA "false"
  >

<!--
    Change owner of a local file. This element is useful only in unix-like operating systems.
-->
<!ELEMENT chown EMPTY>
<!--
    @attr file The local file name. The full path name is expected.
    @attr attr The new owner of this file. The syntax is the same with <command>chown</command> command.
    @attr recursive If this is a directory, change owner of all files recursively.
    @attr forceinstall If enabled, the owner of this file are changed in any case. For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST chown
    file CDATA #REQUIRED
    attr CDATA #REQUIRED
    recursive CDATA "false"
    forceinstall CDATA "false"
  >

<!--
    Execute a native command
-->
<!ELEMENT exec (argument*)>
<!--
    @attr executable The filename of the executable
    @attr time When this command will be executed. Should be "BEFORE" "AFTER" or "MID". By default "MID" parameter is used. This property is not case sensitive.
    @attr input The input of this command, if needed by the application
    @attr forceinstall If enabled, the command is executed in any case. For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST exec
    executable CDATA #REQUIRED
    time CDATA "AFTER"
    input CDATA ""
    forceinstall CDATA "false"
  >

<!--
    Kill a specified task. This element works in both Windows and Unix-like systems
-->
<!ELEMENT kill EMPTY>
<!--
    @attr process The name of the process. This could be a regular expression which will match the running process. When applied, could match more than one running process.
    @attr signal The signal to send. This is platform specific information. In unix-like is the "TERM" signal. There is no need to preceed the signal name/number with a "-" sybol.
    @attr forceinstall If enabled, the application is killed in any case. For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST kill
    process CDATA #REQUIRED
    signal CDATA "TERM"
    forceinstall CDATA "false"
  >

<!--
    This element is used in the last stage of the installation, to pause the installer for the specified number of milliseconds
-->
<!ELEMENT wait EMPTY>
<!--
    @attr msecs The number of milliseconds the installer should 6Await
    @attr time When this command will be executed. Should be "BEFORE" "AFTER" or "MID". By default "BEFORE" parameter is used. This property is not case sensitive.
    @attr forceinstall If enabled, waiting is performed in any case (and installation information is displayed). For discussion about this parameter, see <a href="jupidator.dtd.html#file_forceinstall">forceinstall</a> under the <a href="jupidator.dtd.html#file">file</a> element.
-->
<!ATTLIST wait
    msecs CDATA "1000"
    time CDATA "BEFORE"
    forceinstall CDATA "false"
  >
